h1{
    background-color: rgb(219, 145, 47);
    font-size: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 400px;
    margin-left: 400px;
    border-radius: 10px;
    border: 3px solid black;
    text-align: center;
}
body{
    background-color: rgb(218, 226, 141);
}

#header{
    background-color: aqua;
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-right: 400px;
    margin-left: 400px;
    border-radius: 10px;
    border: 3px solid black;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

#logo{
    padding-left: 25px;
}

#menu-wrapper{
    min-width: 300px;
    display: flex;
    justify-content: space-around;

}

.menu-item{
    color: black;
    background-color: greenyellow;
    border-radius: 10px;
    padding: 3px 20px;
}

.menu-item:hover{
    background-color: pink;
}

#main-content{
    background-color: rgb(42, 101, 119);
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 400px;
    margin-left: 400px;
    border-radius: 10px;
    border: 3px solid black;
    font-size: 15px;
}

#footer{
    background-color: blueviolet;
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 400px;
    margin-left: 400px;
    border-radius: 10px;
    border: 3px solid black;
    font-size: 15px;
}